importFrom("rbugs", runBugs, rbugs2coda, genBugsScript, getBugsOutput, rbugs)
importFrom("coda", mcmc, mcmc.list, as.mcmc.list, read.coda, effectiveSize, raftery.diag, thin, is.mcmc, varnames, is.mcmc.list,
nvar, nchain, niter, traceplot, as.mcmc)
importFrom("lattice", histogram, densityplot, xyplot, qqmath, Rows, trellis.par.get, trellis.par.set, panel.xyplot, panel.grid, panel.abline, panel.segments)
importFrom("foreign", read.dta, write.dta)
importFrom("digest", digest)
importFrom("methods", show)
importFrom("stats4", coef, logLik, summary, vcov, update)
importFrom("stats", formula)
importFrom("Matrix", nnzero, sparseMatrix)
export(caterpillar, caterpillarR, double2singlePrecision, Formula.translate, MacroScript1, MacroScript2, mlwin2bugs, predLines, predCurves, prior2macro, runMLwiN, sixway, trajectories, Untoggle, ws2foreign, df2matrix, matrix2df)
exportClasses(mlwinfitIGLS, mlwinfitMCMC)
exportMethods("[","[[","[<-","[[<-",summary, print, update, formula, coef, coefficients, vcov, df.residual, residuals, resid, fitted, fitted.values, predict, logLik, deviance, nobs)
